  <link rel="stylesheet" href="css/style.css">

  <div class="iconContainer">
    <img class="loginIcon" src="images/Icon.png">
  </div>

  <form id="loginForm" class="login">
    <p>
      <label for="login">Email:</label>
      <input type="text" name="login" id="login" value="">
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="">
    </p>

    <p class="login-submit">
      <button id="loginButton" type="submit" class="login-button">Login</button>
    </p>
  </form>
